* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    background-color: rgb(238, 126, 118);
}

.quiz-container {
    padding: 5%;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}

.title {}

.question {
    font-size: 30px;
}

.inputDiv {
    width: 50%;
    height: 15%;
    padding: 0;
}

.options {
    width: 50%;
    height: 15%;
}

.nameInput {
    width: 35%;
    height: 5%;
    padding: 0;
}

input {
    width: 70%;
    height: 100%;
    color: white;
    background-color: rgb(255, 209, 4);
    font-family: "Roboto Condensed", sans-serif;
    border: 0;
    font-size: 25px;
    text-align: center;
    border: 3px rgb(245, 248, 208) solid;
}

#ready {
    width: 29%;
    height: 100%;
    color: white;
    background-color: rgb(255, 209, 4);
    border: 0;
    vertical-align: top;
    border: 3px rgb(245, 248, 208) solid;
    font-size: 15px;
}

#submit {
    width: 29%;
    height: 100%;
    color: white;
    background-color: rgb(255, 209, 4);
    border: 0;
    vertical-align: top;
    border: 3px rgb(245, 248, 208) solid;
    font-size: 15px;
}

::placeholder {
    color: white;
}

.result {
    width: 50%;
    height: 10%;
    padding: 0;
    text-align: center;
    font-size: 30px;
}

.option {
    margin-left: 1%;
    width: 24%;
    height: 100%;
    background-color: rgb(219, 199, 108);
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    border: 0;
    font-size: 25px;
    border: 3px rgb(245, 248, 208) solid;
    vertical-align: top;
    padding: 0;
}

.option:hover {
    background-color: rgb(255, 209, 4);
}